html, body{
    margin: 0;
    padding: 0;
}
header {
    line-height: 45px;
    text-align: center;
    box-sizing: border-box;
}
header nav  {
    display: inline-block;
    border-radius: 100px;
    border: 2px solid #4bfa05;
    background-color: #000000;
    overflow: hidden;
    position: fixed;
    /* width: 70%; */
    left: 0;
    margin-left: calc(50% - 371px);
    top: 10px;
}
header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display:inline-block;
    padding: 0 40px;
    /* margin: auto 0; */
}

header nav ul li:hover {
    background-color: #4bfa05;
}

#avatar-nav {
    display: inline-flexbox;
    border-radius: 50%;
    padding: 0;
}

.item-nav {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: sans-serif,'Times New Roman', Times, serif;
}

#content {
    background-image: url(/assets/img/183135113_2810795745899586_3382897780797574671_n.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1000px;
}